# ---------------------------------------------------
# Copyright (c) 2014 Pablo Caro. All Rights Reserved.
# Pablo Caro <me@pcaro.es> - https://pcaro.es/
# .gitignore
# ---------------------------------------------------

out
obj
.dep
